.todo__status--default {
  text-decoration: none; }

.todo__status--done {
  text-decoration: line-through;
  color: #888; }

.todo-item {
  display: flex;
  justify-content: space-between; }

.datepicker {
  width: 20% !important;
  margin-bottom: 0 !important;
  height: auto !important; }

.chat-msg__time {
  margin-left: 5px;
  font-size: 0.7em; }

.chat-msg__context {
  color: #888;
  font-size: 0.85em; }

.chat-message {
  min-height: 40px !important;
  padding-bottom: 10px !important; }

.chat-list {
  overflow: scroll;
  height: 65vh;
  margin-bottom: 0px !important; }

.chat-form {
  display: flex !important;
  align-items: center !important;
  border-left: solid 1px #e0e0e0 !important;
  border-right: solid 1px #e0e0e0 !important;
  border-bottom: solid 1px #e0e0e0 !important; }

.chat-input {
  border: none !important;
  box-shadow: none !important;
  padding-left: 3em !important;
  margin-bottom: 0 !important;
  min-height: 60px !important; }

.chat-container {
  border: solid 1px #666 !important;
  padding: 1em !important; }

.user-list {
  height: calc(65vh + 62px) !important; }

.chat-user {
  display: flex !important;
  align-items: center !important;
  min-height: 64px !important; }

.chat-left {
  padding-right: 0px !important; }

.chat-right {
  padding-left: 0px !important; }

.title--muted {
  font-size: 0.85em !important;
  color: #666; }

.display-none {
  display: none; }

h1 {
  color: blue; }
